<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>3 Column Layout</title>
	
</head>

<body>

	

	<div id="container">

		<main id="center" class="column">
			<article>
			
				

<%= form_for("/search", method: "post") do %>
  <p>
    Digite o Token único do equipamento: <%= text_field_tag :search, params[:search], :value => @search %>
    <%= submit_tag "Procurar", :name => nil %>
  </p>
<% end %><br>
<% if @content == true and @exists == true%>
Entradas encontradas: 
<table style="width:50%">
  <tr>
    <td>Setor:</td>
    <td><%= @eqp.setor %></td>
    <td></td>
  </tr>
  <tr>
    <td>CPF / Siape do responsável:</td>
    <td><%= @eqp.responsavel %></td>
    <td></td>
  </tr>
  <tr>
    <td>Descrição:</td>
    <td><%= @eqp.descricao %></td>
    <td></td>
  </tr>
  <tr>
    <td>Tipo:</td>
    <td><%= @eqp.tipo %></td>
    <td></td>
  </tr>
</table>
<% elsif @exists == false %>
<h1>Nenhuma entrada encontrada!</h1>
<% end %>


				</article>								
		</main>

		<nav id="left" class="column">
			<h3>Menu</h3>
			<ul>
				<li><a href="/">Gerar ID</a></li>
				<li><a href="sobre">Sobre</a></li>
				<li><a href="ajuda">Ajuda</a></li>
				<li><a href="http://centraldeservicostic.ufpe.br/otrs/index.pl">OTRS</a></li>
			</ul>

		</nav>

		

	</div>



</body>

</html>